<div class="layout">
    <table class="table">
        <thead>
        <tr style="height: 80px">
            <th><span class="title title--small"></span></th>
            {%comment%}
              TODO replace with: date | l_date: "%b %d", trmnl.user.locale
              There is no pl_PL locale yet.
            {%endcomment%}

            {% assign month_names = "sty, lut, mar, kwi, maj, cze, lip, sie, wrz, paź, lis, gru" | split: ", " %}

            {% for date in header %}
                {% assign date_month = date | date: "%m" | minus :1 %}
                {% assign month = month_names[date_month] %}
                {% assign day = date | date: "%d" %}

                {% assign day_of_week = date | date: "%A" %}
                <th><span class="title title--small" style="transform: rotate(290deg);
                            display: inline-block; white-space: nowrap
                    {% if day_of_week == "Sunday" %} ;text-decoration: underline; {% endif %}
                            "> {{day}} {{ month }}</span></th>
            {% endfor %}
            <th><span class="title title--small" style="transform: rotate(290deg);
              display: inline-block; white-space: nowrap;"><b>Streak</b></span></th>
            <th><span class="label label--small" style="transform: rotate(290deg);
              display: inline-block; white-space: nowrap;">Skips%</span></th>
        </tr>
        </thead>

        <tbody>

        {% for habit in habits %}
            <tr style="height:30px;">
                <td><span class="label">{{ habit.name }}</span></td>
                {% for status in habit.statuses %}
                    <td style="text-align: center; vertical-align: middle;">
                      <span class="status" style="display: inline-block;">
                        {% if status.status == "in_progress" %}
                            {% if status.progress == -1 %}
                                <img style="padding-top: 3px;"
                                     width="30" height="30"
                                     src="https://img.icons8.com/ios-glyphs/30/hourglass--v1.png"
                                     alt="hourglass"/>
                            {% else %}
                                {% assign circumference = 88 %}
                                {% assign black_length = status.progress | times: circumference | divided_by: 100 %}
                                {% assign gray_length = circumference | minus: black_length %}
                                <svg width="30" height="30" viewBox="0 0 36 36">

                                        <circle cx="18" cy="18" r="14" stroke="black"
                                                stroke-width="1" fill="none"/>

                                        <circle cx="18" cy="18" r="14" fill="none" stroke="black"
                                                stroke-width="8"
                                                stroke-dasharray="{{ black_length }} {{ gray_length }}"
                                                stroke-dashoffset="22"/>
                                    </svg>
                            {% endif %}
                        {% elsif status.status == "completed" %}
                            <img width="30" height="30"
                                 src="https://img.icons8.com/ios-glyphs/30/fire-element--v1.png"
                                 alt="fire-element--v1"/>
                        {% elsif status.status == "skipped" %}
                            <img width="30" height="30"
                                 src="https://img.icons8.com/ios-glyphs/30/arrow.png"
                                 alt="arrow--v1"/>
                        {% elsif status.status == "failed" %}
                            <img width="30" height="30"
                                 src="https://img.icons8.com/ios-glyphs/30/1A1A1A/delete-sign.png"
                                 alt="delete-sign"/>
                        {% else %}
                            <img width="10" height="10"
                                 src="https://img.icons8.com/material-rounded/24/1A1A1A/full-stop.png"
                                 alt="full-stop"/>
                        {% endif %}
                      </span>
                    </td>
                {% endfor %}
                <td style="line-height: 1;">
                  <span class="label label--inverted"
                        style="display: inline-block;
                               padding-top: 5px;
                               margin-left: 10px;
                               font-weight: bold;">
                    {{ habit.streak }}
                  </span></td>
                <td style="vertical-align: middle;">
                  <span class="label label--small"
                        style="display: inline;
                        padding-left: 10px;">
                    {{ habit.skipped_percentage }}%
                  </span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="title_bar">
    <span class="title">Habits</span>
    <span class="instance"></span>
</div>

